div#SeedFinderStrainBrowser {font-family: sans-serif;}
.Closed {width: 300px; max-height: 100%; margin: 0; padding: 0; margin-right: auto; margin-left: auto;}
.Closed div#SFSBlink {float: right; padding: 0;}
.Closed div#SFSBlink img {border: 0;}
.Closed div#SFSBselect {font-size: 0.8em; text-align: center; background-color: white; min-width: 100%; padding: 2px; margin-bottom: 10px;}
.Closed div#SFSBselect select {width: 100%; margin-bottom: 10px; margin-top: 0; border: 1px solid #008000; padding: 2px;}
.Closed div#SFSBselect a {display: block; background-color: #e8e8e8; margin: 2px; color: #000; text-decoration: none; font-weight: bold;}
.Closed div#SFSBselect span.pleasewaitasec {display: block; background-color: #e8e8e8; margin: 2px; color: #bbb; font-weight: bold;}
.Closed div#SFSBsearch {width: 100%; border: 4px solid white; border-top: 0; padding: 0; background-color: white;}
.Closed div#SFSBsearch input {width: 100%; margin-bottom: 20px; border: 1px solid #008000; color: #6f6f6f; background-color: #e8e8e8; font-size: 0.7em; font-weight: bold; padding: 2px 5px 2px 5px;}
.Closed div#SFSBsearch a {
    
    
     width: 33.33%; font-size: 3em; font-weight: bold; padding: 5px 5px 5px 5px; background-color: #008000; text-decoration: none; color: #ffffef;}






.Boxed {background-color:whitemsoke; position: ;   width: 80%; min-width: 300px; overflow: auto; border: 0px solid black; padding: 0; margin-right: auto;margin-left: auto;}
.Boxed div#SFSBlink {position:fixed ;  float:; left:90%; padding: 0; z-index: 99999;}
.Boxed div#SFSBlink a {text-decoration: none; color: #008000; background-color: white; font-size: 12px; font-weight: bold; border: 0px solid black; padding: 0 2px 0 2px;}
.Boxed div#SFSBname {position: ; top: ; left: ; margin: 23px 0 0 0px; padding: 0 6px 0 0; background-color: #bbb; border: 1px solid black; display: none;}
.Boxed div#SFSBname img {border: 0;}
.Boxed div#SFSBselect {border: 0px solid black; float: left; text-align: left; font-size: 0.8em; position:;  width: 50%%; margin-left: 5px; margin-top: 5px; padding: 0px; background-color: whitemsoke; height:; z-index: 1; margin-bottom: 20px;}
.Boxed div#SFSBselect a, .Boxed div#SFSBselect span {font-size: 0.7em; font-weight: bold; padding: 4px; background-color: #e8e8e8; text-decoration: none; color: #bbb;}
.Boxed div#SFSBselect select {height: 23px; margin-right: 5px; margin-bottom: 0px;}
.Boxed div#SFSBsearch {margin-top: 5px; border: 0px solid black; width: 40%; float: right; font-size: 0.8em; position: ; padding: 0px; background-color: whitemsoke; z-index: 1; margin-bottom: 20px;}
.Boxed div#SFSBsearch input {width: 70%; margin-bottom: 0px; border: 0; color: #6f6f6f; background-color: #e8e8e8; font-size: 0.7em; font-weight: bold; padding: 5px;}
.Boxed div#SFSBsearch a {width: 24%; font-size: 0.7em; font-weight: bold; padding: 5px; background-color: #e8e8e8; text-decoration: none; color: #008000;}
.Boxed div#SFSearchinfo ul#strainsearchul {display: block; list-style: none; margin: 5px 0 0 0; font-size: 0.8em; font-weight: bold; padding-left: 20px;;}
.Boxed div#SFSearchinfo ul#strainsearchul li {padding: 1px 5px 1px 5px; background-color: whitemsoke;}
.Boxed div#SFSearchinfo ul#strainsearchul li a {text-decoration: none; color: #000;}
.Boxed div#SFSBrowser {min-height: 47px;}
.Boxed div#SFSBrowser h2 {padding: 2px; margin: 50px 0 0 0; padding-left: 5px; border-top: 5px solid white; border-bottom: 5px solid #whitemsoke;}
.Boxed div#SFSBrowser h2.strainname {color: #000; background-color: whitemsoke;}
.Boxed div#SFSBrowser h2.imloading {color: #a9a9a9; border-color: whitemsoke; background-color: whitemsoke;}
.Boxed div#SFSBstraininfo {background-color:whitemsoke;}
.Boxed div#SFSBstraininfo h2 {padding: 2px; margin: 10px 0 0 0; padding-left: 5px; border-top: 5px solid whitemsoke; border-bottom: 5px solid whitemsoke;}
.Boxed div#SFSBstraininfo h2.strainname {color: whitemsoke; background-color: #fff;}
.Boxed div#SFSBstraininfo h2.imloading {color: #a9a9a9; border-color: #bbb; background-color: whitemsoke;}
.Boxed div#SFSBstraininfo p {margin: 0; padding: 2px 5px 5px 5px; font-size: 0.9em;}
.Boxed div#SFSBstraininfo p span.infobox {float: right; padding: 5px; margin: 3px 0 5px 5px; background-color: whitemsoke; max-width: 200px;}
.Boxed div#SFSBstraininfo p span.infobox img {border: 0; width: 100%; max-width: 200px; height: auto;}
.Boxed div#SFSBstraininfo p#TheParents, div#SFSBstraininfo p#TheHybrids {background-color: white; padding: 5px; margin: 5px 0 5px 0; border-top: 2px dashed #bbb; border-bottom: 2px dashed #bbb; font-size: 0.9em;}
.Boxed div#SFSBstraininfo p#TheParents a, div#SFSBstraininfo p#TheHybrids a {white-space: nowrap; padding-left: 5px;}
.Boxed div#SFSBstraininfo p.userreviewTitle, div#SFSBstraininfo p.average, div#SFSBstraininfo p.yield, div#SFSBstraininfo p.floweringindoors, div#SFSBstraininfo p.floweringoutdoors {padding-bottom: 0; padding-top: 0;}
.Boxed h3.userreviewh3 {padding: 2px; margin: 10px 0 5px 0; padding-left: 5px; border-top: 3px solid #bbb; border-bottom: 3px solid #bbb; background-color: #fff;}
.Boxed h4.userreviewh4 {padding: 2px; margin: 10px 0 5px 0; padding-left: 5px; border-top: 2px solid #bbb; border-bottom: 2px solid #bbb; background-color: #fff;}
.Boxed h4.tastingh4 {padding: 2px; margin: 10px 0 0 0; padding-left: 5px; border-bottom: 2px solid #bbb;}
.Boxed p.acloud {height: 100px; min-height: 100px;}
.Boxed p.acloud img.piechart {float: right; border: 0;}
.Boxed p.acloud span {margin-right: 5px; float: left;}
.Boxed p.acloud span.cl1 {font-size: 0.9em;} span.cl2 {font-size: 1em; font-weight: bold;} span.cl3 {font-size: 1.1em;} span.cl4 {font-size: 1.2em; font-weight: bold;} span.cl5 {font-size: 1.4em;} span.cl6 {font-size: 1.5em; font-weight: bold;} span.cl7 {font-size: 1.7em;} span.cl8 {font-size: 1.8em; font-weight: bold;} span.cl9 {font-size: 2em;} span.cl10 {font-size: 2.1em; font-weight: bold;}
.Boxed p#seedfinderLink {background-color: #e8e8e8; padding: 3px 5px 3px 5px; border-top: 5px solid #bbb; margin: 10px 0 0 0; text-align: right; font-size: 0.8em;}
.Boxed a.hide {margin-left: 10px;}
.Boxed h3.medicalh3 {padding: 2px; margin: 10px 0 0 0; padding-left: 5px; border-top: 3px solid #bbb; border-bottom: 3px solid #bbb; background-color: #fff;}
.Boxed div#threadfinderUpload {padding: 5px 3px 0 0; background-color: #bbb; font-size: 12px; font-weight: bold; text-align: right;}
.Boxed div#threadfinderUpload select {font-size: 12px; margin-left: 5px; height: 23px;}
.Boxed div#threadfinderUpload input {margin: 0 0 0 5px; border: 0; padding: 2px; height: 23px; background-color: #dee6d9;}
.Boxed h3.commh3 {padding: 2px; margin: 10px 0 0 0; padding-left: 5px; border-top: 3px solid #bbb; border-bottom: 3px solid #bbb; background-color: #fff;}
.Boxed div#SFSBstraininfo p.commPeh {padding-top: 5px; padding-bottom: 5px; font-size: 0.8em; border-bottom: 2px dashed #bbb;}
.Boxed div#SFSBstraininfo p.commPeh span.CommUsername {font-weight: bold;}